.App {
    text-align: center;
  
  
    .App-logo {
        height: 40vmin;
        pointer-events: none;
    }

    .technologies {
        background-color: black;
        color: white;
      }
    
      .technologies div {
          width: 33%;
        background-color: orchid;
        color: white;
      }











    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 20s linear;
        }
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}