footer {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0;
    background-color: firebrick;

    h5 {
        font-size: 2rem;
    }

    li {
        margin: 5% 0 5% 50%;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-left {
        
    }

    .footer-right {
        
        align-items: center;
    }

    img {
        width: 50%;
    }

}