footer {
    display: flex;

    padding: 3% 0;
    background-color: firebrick;
    color: white;
    border-top:1px solid black;

    h5 {
        font-size: 2rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }

    li {
        
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
    }

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-left {
        background-color: darkcyan;
    }

    .footer-right {
        
        align-items: center;
    }

    img {
        width: 50%;
    }

}

