.App-header {
  background-image: linear-gradient(crimson, darkred);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0% 0 1.5%;

  @media @mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-top: 10%;
}

  p {
    width: 90%;
    text-shadow: 1px 1px #222528, 0 0 1em #222528, 0 0 0.2em #222528;
    position: relative;
    font-size: 1.85rem;
    letter-spacing: 0.15rem;
    margin-top: -1%;

    @media @tablet {
      width: 95%;
      font-size: 1.1rem;
  }

    @media @mobile {
      width: 95%;
      text-align: center;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      margin-top: 5%;
    }
  }

  h1 {
    width: 100%;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px #222528;
    position: relative;

    @media @tablet {
      font-size: 2.5rem;
    }

    @media @mobile {
      font-size: 1.5rem;
    }
  }

  .cursive {
    font-size: 9rem;

    @media @tablet {
      font-size: 4.5rem;
    }

    @media @mobile {
      font-size: 2.5rem;
    }
  }
  
  .mouseIcon {
    width: 70px;
    height: 70px;
    margin-left: 1%;

    @media @tablet {
      width: 40px;
      height: 40px;
    }

    @media @mobile {
      display: none;
    }
  }
}

.navbar-container {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;


  .nav-container {
    width: 100%;
    background-image: linear-gradient(black, black, firebrick, black, black, crimson,  black, black, firebrick, black, black);
    padding: 1.45% 0%;
    text-shadow: 1px 1px #222528, 0 0 1em #222528, 0 0 0.2em #222528;

    @media @mobile {
      background-image: linear-gradient( black, firebrick, black, black, crimson,  black, black, firebrick, black,);
    }

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-between;

      @media @tablet {
        justify-content: space-around;
      }

      @media @mobile {
        justify-content: space-evenly;
      }
    }

    li {
      width: 30%;

      
    }

    a {
      border: 1px solid rgb(40, 40, 40);
      text-decoration: none;
      font-size: 1.4rem;
      color: whitesmoke;
      background-image: linear-gradient(firebrick,  black, black,  black,   black, firebrick);
      padding: 2% 25%;

      @media @tablet {
        font-size: 1.1rem;
      }

      @media @mobile {
        font-size: 0.9rem;
      }
    }

    a:last-child {
      margin-right: 8%;
    }

    a:hover {
      background-color: crimson;
      background-image: none;
      border: 1px solid black;
      transition: .25s ;
    }
  }
}



.boxes li {
  position: absolute;
  list-style-type: none;
  background: yellow;
  animation: animate 20s linear infinite;
  top: 50%;

  @media @tablet {
    top: 65%;
  }

  @media @mobile {
    top: 35%;
  }
}

.boxes li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 2.8s;

  @media @mobile {
    left: 5%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
}

.boxes li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 2.5s;
  animation-duration: 10s;

  @media @mobile {
    left: 0%;
  }
}

.boxes li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;

  @media @mobile {
    width: 40px;
    height: 40px;
  }
}

.boxes li:nth-child(4) {
  left: 65%;
  top: 50%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;

  @media @mobile {
    top: 30%;
    width: 90px;
    height: 90px;
  }
}

.boxes li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 1s;

  @media @mobile {
    width: 50px;
    height: 50px;
  }
}

.boxes li:nth-child(6) {
  left: 5%;
  width: 110px;
  height: 110px;
  animation-delay: 7.5s;

  @media @mobile {
    width: 45px;
    height: 45px;
  }
}

.boxes li:nth-child(7) {
  left: 5%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;

  @media @mobile {

  }
}

.boxes li:nth-child(8) {
  left: 85%;
  width: 90px;
  height: 90px;
  animation-delay: 6.5s;

  @media @mobile {
    width: 19px;
    height: 19px;
  }
}

.boxes li:nth-child(9) {
  left: 45%;
  width: 120px;
  height: 120px;
  animation-delay: 3s;
  animation-duration: 15s;
  
  @media @mobile {
    width: 20px;
    height: 20px;
  }
}

.boxes li:nth-child(10) {
  left: 18%;
  width: 120px;
  height: 120px;
  animation-delay: 1.8s;
  animation-duration: 10s;

  @media @mobile {
    width: 15px;
    height: 15px;
  }
}

@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
  }
  100%{
    transform: translateY(-900px) rotate(360deg);
    opacity: 0;
  }
}

@media @mobile {
  @keyframes animate {
    0%{
      transform: translateY(0) rotate(0deg);
    }
    50% {
      opacity: 40%;
    }
    100%{
      transform: translateY(-400px) rotate(360deg);
      opacity: 0;
    }
  }
}