.App-header {
  background-image: linear-gradient(crimson, darkred);
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5% 0;
  line-height: 2.5rem;

  p {
    margin-top: 2%;
    text-shadow: 1px 1px #222528, 0 0 1em #222528, 0 0 0.2em #222528;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px #222528;
  }
  
  .mouseIcon {
    width: 50px;
    height: 50px;
    margin-left: 1%;
  }
}

.navbar-container {
  background-color: black;
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 80%;
  background-image: linear-gradient(black, black, firebrick, black, black, crimson,  black, black, firebrick, black, black);
  padding: 1.2% 0%;
  text-shadow: 1px 1px #222528, 0 0 1em #222528, 0 0 0.2em #222528;
  border-radius: 20px;

  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }

  li {
    width: 30%;
  }

  a {
    border: 1px solid rgb(40, 40, 40);
    text-decoration: none;
    font-size: 1.4rem;
    color: whitesmoke;
    background-image: linear-gradient(firebrick,  black, black,  black,   black, firebrick);
    padding: 2% 25%;
  }

  a:hover {
    background-color: crimson;
    background-image: none;
    border: 1px solid black;
    transition: .20s ;
  }
}

// .nav-container:hover {
//   background-image: linear-gradient(black, black, firebrick, black, black, crimson,  black, black, firebrick, black, black);
// }