html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body section {
  display: flex;
  justify-content: space-evenly;
}
body section a:hover {
  color: dodgerblue;
}
body .cursive {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
}
.App {
  text-align: center;
  background-color: #3c434a;
}
.App-header {
  background-image: linear-gradient(crimson, darkred);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0% 0 1.5%;
}
@media (max-width: 500px) {
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-top: 10%;
  }
}
.App-header p {
  width: 90%;
  text-shadow: 1px 1px #222528, 0 0 1em #222528, 0 0 0.2em #222528;
  position: relative;
  font-size: 1.85rem;
  letter-spacing: 0.15rem;
  margin-top: -1%;
}
@media (max-width: 850px) {
  .App-header p {
    width: 95%;
    font-size: 1.1rem;
  }
}
@media (max-width: 500px) {
  .App-header p {
    width: 90%;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-top: 5%;
  }
}
.App-header h1 {
  width: 100%;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px #222528;
  position: relative;
}
@media (max-width: 850px) {
  .App-header h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .App-header h1 {
    font-size: 1.5rem;
  }
}
.App-header .cursive {
  font-size: 9rem;
}
@media (max-width: 850px) {
  .App-header .cursive {
    font-size: 4.5rem;
  }
}
@media (max-width: 500px) {
  .App-header .cursive {
    font-size: 2.5rem;
  }
}
.App-header .mouseIcon {
  width: 70px;
  height: 70px;
  margin-left: 1%;
}
@media (max-width: 850px) {
  .App-header .mouseIcon {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 500px) {
  .App-header .mouseIcon {
    display: none;
  }
}
.navbar-container {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
}
.navbar-container .nav-container {
  width: 100%;
  background-image: linear-gradient(black, black, firebrick, black, black, crimson, black, black, firebrick, black, black);
  padding: 1.45% 0%;
  text-shadow: 1px 1px #222528, 0 0 1em #222528, 0 0 0.2em #222528;
}
@media (max-width: 500px) {
  .navbar-container .nav-container {
    background-image: linear-gradient(black, firebrick, black, black, crimson, black, black, firebrick, black);
  }
}
.navbar-container .nav-container ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .navbar-container .nav-container ul {
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .navbar-container .nav-container ul {
    justify-content: space-evenly;
  }
}
.navbar-container .nav-container li {
  width: 30%;
}
.navbar-container .nav-container a {
  border: 1px solid #282828;
  text-decoration: none;
  font-size: 1.4rem;
  color: whitesmoke;
  background-image: linear-gradient(firebrick, black, black, black, black, firebrick);
  padding: 2% 25%;
}
@media (max-width: 850px) {
  .navbar-container .nav-container a {
    font-size: 1.1rem;
  }
}
@media (max-width: 500px) {
  .navbar-container .nav-container a {
    font-size: 0.9rem;
  }
}
.navbar-container .nav-container a:last-child {
  margin-right: 8%;
}
.navbar-container .nav-container a:hover {
  background-color: crimson;
  background-image: none;
  border: 1px solid black;
  transition: 0.25s;
}
.boxes li {
  position: absolute;
  list-style-type: none;
  background: yellow;
  animation: animate 20s linear infinite;
  top: 50%;
}
@media (max-width: 850px) {
  .boxes li {
    top: 65%;
  }
}
@media (max-width: 500px) {
  .boxes li {
    top: 35%;
  }
}
.boxes li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 2.8s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(1) {
    left: 5%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
}
.boxes li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 2.5s;
  animation-duration: 10s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(2) {
    left: 0%;
  }
}
.boxes li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(3) {
    width: 40px;
    height: 40px;
  }
}
.boxes li:nth-child(4) {
  left: 65%;
  top: 50%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(4) {
    top: 30%;
    width: 90px;
    height: 90px;
  }
}
.boxes li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 1s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(5) {
    width: 50px;
    height: 50px;
  }
}
.boxes li:nth-child(6) {
  left: 5%;
  width: 110px;
  height: 110px;
  animation-delay: 7.5s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(6) {
    width: 45px;
    height: 45px;
  }
}
.boxes li:nth-child(7) {
  left: 5%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.boxes li:nth-child(8) {
  left: 85%;
  width: 90px;
  height: 90px;
  animation-delay: 6.5s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(8) {
    width: 19px;
    height: 19px;
  }
}
.boxes li:nth-child(9) {
  left: 45%;
  width: 120px;
  height: 120px;
  animation-delay: 3s;
  animation-duration: 15s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(9) {
    width: 20px;
    height: 20px;
  }
}
.boxes li:nth-child(10) {
  left: 18%;
  width: 120px;
  height: 120px;
  animation-delay: 1.8s;
  animation-duration: 10s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(10) {
    width: 15px;
    height: 15px;
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-900px) rotate(360deg);
    opacity: 0;
  }
}
@media (max-width: 500px) {
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      opacity: 40%;
    }
    100% {
      transform: translateY(-400px) rotate(360deg);
      opacity: 0;
    }
  }
}
footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  background-color: firebrick;
}
@media (max-width: 1400px) {
  footer {
    display: flex;
    align-items: center;
    background-color: none;
  }
}
@media (max-width: 850px) {
  footer {
    padding-top: 0.3%;
  }
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: firebrick;
    padding: 3% 0;
  }
}
footer div {
  width: 30%;
}
footer .footer-left {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}
footer .footer-left img {
  width: 50%;
  margin: 2%;
}
@media (max-width: 850px) {
  footer .footer-left img {
    width: 70%;
    height: 30px;
    margin: 0 0 0 10%;
  }
}
@media (max-width: 500px) {
  footer .footer-left img {
    width: 80%;
    height: 22px;
    margin: 0 0 0 10%;
  }
}
@media (max-width: 500px) {
  footer .footer-left {
    position: absolute;
    top: 0.5%;
    right: 0;
  }
}
footer .footer-middle {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
@media (max-width: 500px) {
  footer .footer-middle {
    width: 90%;
  }
}
footer .footer-middle small {
  font-size: 1.2rem;
}
@media (max-width: 500px) {
  footer .footer-middle small {
    font-size: 1rem;
    font-weight: bold;
  }
}
footer .zia-img {
  width: 5%;
  margin: 1% 0%;
  border: 1px solid black;
}
@media (max-width: 850px) {
  footer .zia-img {
    width: 10%;
  }
}
@media (max-width: 500px) {
  footer .zia-img {
    width: 5%;
    position: absolute;
    top: 0.5%;
    left: 2%;
    margin: 0;
  }
}
footer .footer-right {
  display: flex;
}
footer .footer-right img {
  width: 50%;
}
@media (max-width: 850px) {
  footer .footer-right img {
    width: 70%;
  }
}
@media (max-width: 500px) {
  footer .footer-right img {
    width: 70%;
  }
}
@media (max-width: 500px) {
  footer .footer-right {
    width: 100%;
    margin-bottom: 2%;
  }
}
footer .contact-links {
  display: flex;
  align-items: center;
}
footer .contact-links a {
  width: 70%;
  padding: 0.9% 0;
}
footer .contact-links a:hover {
  box-shadow: 5px 5px 5px black;
  background-color: crimson;
}
@media (max-width: 850px) {
  footer .codesandbox-logo {
    display: none;
  }
}
@media (max-width: 850px) {
  footer #codesandbox-logo {
    display: none;
  }
}
.home {
  min-height: 90vh;
  background-image: url("https://myersandmyersrealestate.com/wp-content/uploads/2017/12/5-Points-Of-Interest-In-Albuquerque-NM.jpg");
  background-repeat: no-repeat;
  background-size: 101%;
  color: white;
  padding-top: 5%;
  line-height: 2.5rem;
}
@media (max-width: 500px) {
  .home {
    min-height: 80vh;
    background-size: cover;
  }
}
.home .home-header {
  width: 90%;
  background-image: linear-gradient(crimson, darkred);
  margin: 3% auto 15%;
  padding: 2.5% 5% 1%;
  border: 1px solid black;
  border-radius: 500px;
}
@media (max-width: 850px) {
  .home .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5%;
    padding-bottom: 2.5%;
  }
}
@media (max-width: 500px) {
  .home .home-header {
    width: 95%;
    margin-top: 30%;
  }
}
.home .home-header div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home h1 {
  width: 100%;
  text-shadow: 2px 2px #222528;
  font-size: 9.5rem;
  margin: 5% 0 6%;
}
@media (max-width: 850px) {
  .home h1 {
    width: 90%;
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .home h1 {
    font-size: 2.5rem;
  }
}
.home .cursive {
  width: 50%;
  font-size: 17rem;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
}
@media (max-width: 850px) {
  .home .cursive {
    font-size: 7rem;
  }
}
@media (max-width: 500px) {
  .home .cursive {
    font-size: 4.5rem;
  }
}
.home p {
  font-size: 3.5rem;
  margin-bottom: 1%;
  text-shadow: 1px 1px #222528, 0 0 1em #222528, 0 0 0.2em #222528;
  line-height: 4rem;
}
@media (max-width: 850px) {
  .home p {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
}
@media (max-width: 500px) {
  .home p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.home a {
  color: dodgerblue;
  font-size: 6rem;
}
@media (max-width: 850px) {
  .home a {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .home a {
    font-size: 3rem;
  }
}
.about-section-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222528), to(#3c434a));
  position: relative;
  display: flex;
  flex-direction: column;
}
.about-section {
  width: 80%;
  margin: 2% auto;
  padding: 2%;
  background-color: papayawhip;
  text-align: start;
  border: 1px solid black;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .about-section {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .about-section {
    width: 90%;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.about-section h2 {
  display: flex;
  align-items: center;
  font-size: 4rem;
}
@media (max-width: 500px) {
  .about-section h2 {
    display: none;
  }
}
.about-section .mobile-svg {
  display: none;
  z-index: 1;
}
@media (max-width: 500px) {
  .about-section .mobile-svg {
    font-size: 3.7rem;
    padding: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
  }
}
.about-section .mobile-svg svg {
  width: 11.5%;
  margin-bottom: 5%;
}
.about-section p {
  width: 90%;
  padding: 2%;
  line-height: 1.7rem;
  font-size: 1.3rem;
}
@media (max-width: 850px) {
  .about-section p {
    font-size: 1.1rem;
  }
}
@media (max-width: 500px) {
  .about-section p {
    width: 100%;
  }
}
.about-section p span {
  font-size: 1.8rem;
}
@media (max-width: 850px) {
  .about-section p span {
    font-size: 1.4rem;
  }
}
.about-section svg {
  width: 9%;
  padding: 2%;
}
@media (max-width: 850px) {
  .about-section svg {
    width: 12%;
  }
}
@media (max-width: 850px) {
  .about-section .about-section-left {
    width: 50%;
    background-color: none;
  }
}
@media (max-width: 500px) {
  .about-section .about-section-left {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.about-section .about-section-right {
  width: 50%;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .about-section .about-section-right {
    width: 95%;
    flex-direction: column;
    align-items: center;
    margin-top: -6%;
  }
}
.about-section img {
  width: 100%;
  border: 2px solid black;
  border-radius: 75px;
}
@media (max-width: 500px) {
  .about-section img {
    width: 90%;
    margin-top: -8%;
  }
}
.projects-header-container {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222528), to(#3c434a));
  position: relative;
}
.projects-header-container .technologies {
  color: lawngreen;
  background-color: #292929;
  width: 80%;
  margin: 2% auto;
  padding: 2%;
  text-align: start;
  border: 1px solid black;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
}
@media (max-width: 850px) {
  .projects-header-container .technologies {
    width: 97%;
  }
}
@media (max-width: 500px) {
  .projects-header-container .technologies {
    width: 95%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0;
  }
}
.projects-header-container .technologies h3 {
  font-size: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 2px 2px 2px #000;
}
@media (max-width: 500px) {
  .projects-header-container .technologies h3 {
    font-size: 3.5rem;
    justify-content: center;
    margin-bottom: 3%;
  }
}
.projects-header-container .technologies p {
  font-size: 1.1rem;
}
@media (max-width: 850px) {
  .projects-header-container .technologies p {
    font-size: 0.95rem;
  }
}
@media (max-width: 500px) {
  .projects-header-container .technologies p {
    font-size: 0.8rem;
  }
}
.projects-header-container .technologies .technologies-icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .projects-header-container .technologies .technologies-icons {
    width: 100%;
    margin-left: 0;
  }
}
.projects-header-container .technologies .technologies-icons a {
  width: 50px;
  height: 50px;
  color: lawngreen;
}
@media (max-width: 850px) {
  .projects-header-container .technologies .technologies-icons a {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 850px) {
  .projects-header-container .technologies .technologies-icons a {
    width: 40px;
    height: 40px;
  }
}
.projects-header-container .technologies .technologies-left {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.projects-header-container .technologies .technologies-left svg {
  width: 12%;
  padding: 2%;
}
@media (max-width: 850px) {
  .projects-header-container .technologies .technologies-left {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .projects-header-container .technologies .technologies-left {
    width: 95%;
  }
}
.projects-header-container .technologies .technologies-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 850px) {
  .projects-header-container .technologies .technologies-right {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .projects-header-container .technologies .technologies-right {
    width: 95%;
  }
}
.projects {
  width: 47%;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.6% 0 0;
  margin: 0.5% 0;
  border: 2px solid black;
  border-radius: 5px;
}
@media (max-width: 850px) {
  .projects {
    height: 90%;
    padding-bottom: 1%;
    justify-content: none;
  }
}
@media (max-width: 500px) {
  .projects {
    height: 450px;
    padding-bottom: 1%;
    justify-content: none;
  }
}
.projects .technologies-icons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 3%;
}
@media (max-width: 850px) {
  .projects .technologies-icons {
    width: 100%;
    margin-bottom: 4%;
  }
}
@media (max-width: 500px) {
  .projects .technologies-icons {
    width: 95%;
    margin-bottom: 8%;
  }
}
.projects .technologies-icons a {
  width: 40px;
  height: 40px;
  color: lawngreen;
}
@media (max-width: 500px) {
  .projects .technologies-icons a {
    width: 25px;
    height: 25px;
  }
}
.projects img {
  width: 95%;
  border: 3.5px solid black;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}
.projects p {
  width: 85%;
  color: white;
  font-size: 1.1rem;
  border-top: 2px solid black;
  margin-top: 0.5%;
  margin-bottom: 1%;
  padding-top: 1%;
  display: flex;
  align-items: center;
}
@media (max-width: 850px) {
  .projects p {
    font-size: 0.85rem;
    padding-top: 5%;
  }
}
@media (max-width: 500px) {
  .projects p {
    height: 50%;
  }
}
.projects h2 {
  font-size: 3rem;
  text-shadow: 2px 2px 2px #000;
  letter-spacing: 0.5rem;
  color: lawngreen;
  font-family: 'Bangers', cursive;
}
@media (max-width: 850px) {
  .projects h2 {
    width: 90%;
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .projects h2 {
    width: 95%;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }
}
.projects small {
  color: white;
}
@media (max-width: 500px) {
  .projects small {
    font-size: 0.5rem;
  }
}
.projects .demo-button {
  width: 40%;
  color: black;
  margin: 1% 0;
  padding: 1% 5%;
  background-color: lawngreen;
  border: 1px solid black;
  text-decoration: none;
}
.projects .demo-button:hover {
  background-color: darkgoldenrod;
  color: lawngreen;
}
.projects .project-img {
  padding: 2.5% 0;
}
.project-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5% 0;
}
@media (prefers-reduced-motion: no-preference) {
  .soap-logo {
    animation: soap-logo-spin infinite 5s linear;
  }
}
@keyframes soap-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
