* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body section {
  display: flex;
  justify-content: space-evenly;
}
body section a:hover {
  color: dodgerblue;
}
body .cursive {
  font-size: 4rem;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
}
.App {
  text-align: center;
  background-color: #3c434a;
}
.App-header {
  background-image: linear-gradient(crimson, darkred);
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5% 0;
  line-height: 2.5rem;
}
.App-header p {
  margin-top: 2%;
  text-shadow: 1px 1px #222528, 0 0 1em #222528, 0 0 0.2em #222528;
  position: relative;
}
.App-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px #222528;
  position: relative;
}
.App-header .mouseIcon {
  width: 50px;
  height: 50px;
  margin-left: 1%;
  z-index: 0;
}
.boxes li {
  position: absolute;
  display: block;
  list-style-type: none;
  background: gold;
  animation: animate 20s linear infinite;
  top: 55%;
}
.boxes li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 1s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(1) {
    left: 5%;
    bottom: -40%;
    animation-delay: 0s;
    animation-duration: 15s;
  }
}
.boxes li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(2) {
    left: 0%;
    bottom: -80%;
    animation-delay: 1s;
    animation-duration: 10s;
  }
}
.boxes li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(3) {
    left: 65%;
    bottom: -80%;
    animation-delay: 0s;
    animation-duration: 13s;
  }
}
.boxes li:nth-child(4) {
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(4) {
    left: 5%;
    bottom: -100%;
    animation-delay: 0s;
    animation-duration: 16s;
  }
}
.boxes li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 1s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(5) {
    left: 65%;
    bottom: -40%;
    animation-delay: 0s;
    animation-duration: 17s;
  }
}
.boxes li:nth-child(6) {
  left: 5%;
  width: 110px;
  height: 110px;
  animation-delay: 7.5s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(6) {
    left: 5%;
    bottom: 0;
    animation-delay: 0s;
    animation-duration: 19s;
  }
}
.boxes li:nth-child(7) {
  left: 5%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(7) {
    left: 85%;
    bottom: 0;
    animation-delay: 0s;
    animation-duration: 14s;
  }
}
.boxes li:nth-child(8) {
  left: 45%;
  width: 90px;
  height: 90px;
  animation-delay: 6.5s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(8) {
    left: 70%;
    bottom: -100%;
    animation-delay: 1s;
    animation-duration: 17s;
  }
}
.boxes li:nth-child(9) {
  left: 45%;
  width: 120px;
  height: 120px;
  animation-delay: 0.8s;
  animation-duration: 15s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(9) {
    left: 60%;
    bottom: -120%;
    animation-delay: 2s;
    animation-duration: 4s;
  }
}
.boxes li:nth-child(10) {
  left: 18%;
  width: 120px;
  height: 120px;
  animation-delay: 1.8s;
  animation-duration: 10s;
}
@media (max-width: 500px) {
  .boxes li:nth-child(10) {
    width: 40px;
    height: 40px;
    left: 0;
    bottom: -120%;
    animation-delay: 0s;
    animation-duration: 4s;
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-900px) rotate(360deg);
    opacity: 0;
  }
}
.navbar-container {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
}
.navbar-container .nav-container {
  width: 80%;
  background-image: linear-gradient(black, black, firebrick, black, black, crimson, black, black, firebrick, black, black);
  padding: 1.2% 0%;
  text-shadow: 1px 1px #222528, 0 0 1em #222528, 0 0 0.2em #222528;
  border-radius: 20px;
}
.navbar-container .nav-container ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.navbar-container .nav-container li {
  width: 30%;
}
.navbar-container .nav-container a {
  border: 1px solid #282828;
  text-decoration: none;
  font-size: 1.4rem;
  color: whitesmoke;
  background-image: linear-gradient(firebrick, black, black, black, black, firebrick);
  padding: 2% 25%;
}
.navbar-container .nav-container a:hover {
  background-color: crimson;
  background-image: none;
  border: 1px solid black;
  transition: 0.25s;
}
footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  background-color: firebrick;
  z-index: 1;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    align-items: center;
    background-color: purple;
    z-index: 1;
  }
}
footer div {
  width: 30%;
}
footer .footer-left {
  display: flex;
  justify-content: start;
}
footer .footer-left img {
  width: 50%;
  margin: 2%;
}
@media (max-width: 500px) {
  footer .footer-left {
    width: 20%;
  }
}
footer .footer-middle {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
@media (max-width: 500px) {
  footer .footer-middle {
    width: 60%;
    font-size: 1rem;
  }
}
footer .footer-middle small {
  font-size: 0.8rem;
}
@media (max-width: 500px) {
  footer .footer-middle small {
    font-size: 0.7rem;
    font-weight: bold;
  }
}
footer .zia-img {
  width: 5%;
  margin: 1% 0%;
  border: 1px solid black;
}
@media (max-width: 500px) {
  footer .zia-img {
    display: none;
  }
}
footer .footer-right {
  display: flex;
  margin-right: 0%;
}
footer .footer-right img {
  width: 35%;
}
@media (max-width: 500px) {
  footer .footer-right img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  footer .footer-right {
    width: 20%;
  }
}
footer .contact-links {
  display: flex;
  align-items: center;
}
footer .contact-links a {
  text-align: center;
}
footer .contact-links a:hover {
  box-shadow: 5px 5px 5px black;
  background-color: blueviolet;
}
footer #codesandbox-logo {
  width: 35%;
  text-align: center;
}
.home {
  min-height: 100vh;
  background-image: url("https://myersandmyersrealestate.com/wp-content/uploads/2017/12/5-Points-Of-Interest-In-Albuquerque-NM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 2rem;
  color: white;
  padding-top: 0.5%;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home p {
  margin-top: 2%;
  text-shadow: 1px 1px #222528, 0 0 1em #222528, 0 0 0.2em #222528;
}
.home h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px #222528;
  font-size: 5rem;
  margin-left: 8%;
}
.home .cursive {
  font-size: 7rem;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
}
.home .mouseIcon {
  width: 50px;
  height: 50px;
  margin-left: 1%;
}
.home .home-header {
  width: 75%;
  margin: 10% auto 15%;
  padding: 3.5% 1% 1%;
  background-image: linear-gradient(crimson, darkred);
  border-radius: 800px;
}
.technologies {
  color: lawngreen;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222528), to(#3c434a));
  min-height: 20vh;
  text-shadow: 2px 2px 2px #191b1d;
  position: relative;
}
.technologies h3 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technologies p {
  font-size: 1.1rem;
}
.technologies .technologies-icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
.technologies .technologies-icons a {
  width: 40px;
  height: 40px;
  color: lawngreen;
}
.technologies .technologies-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.technologies .technologies-left svg {
  width: 12%;
  padding: 2%;
}
.technologies .technologies-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.github-section {
  display: flex;
  justify-content: space-evenly;
  padding: 1% 0;
  background-image: linear-gradient(darkred, #fff, #fff, #fff);
}
.github-section h4 {
  width: 100%;
  font-size: 1.8rem;
}
.github-section h5 {
  width: 100%;
  font-size: 1rem;
}
.github-section h6 {
  width: 100%;
  font-size: 1rem;
}
.github-section div {
  width: 30%;
  border-radius: 30px;
}
.github-section form {
  background-color: firebrick;
}
.github-section .github-section-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.github-section .github-section-left img {
  padding: 20%;
}
.github-section .github-info-p1 {
  width: 50%;
}
.github-section .github-info-p2 {
  width: 55%;
}
.github-section .github-info-p3 {
  width: 60%;
}
.github-section .github-info-p4 {
  width: 65%;
}
.github-section .github-info-p5 {
  width: 70%;
  margin-bottom: 1%;
}
.github-section .github-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 2px solid black;
}
.github-section .github-profile img {
  width: 50%;
}
.github-section .followers-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.github-section .followers {
  width: 33.33%;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 0;
}
.github-section .followers img {
  width: 30%;
  margin: 5% 0;
  border-radius: 100px;
}
.github-section .github-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
}
.github-section .github-info p {
  text-align: start;
  border-bottom: 2px solid black;
}
.about-section-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222528), to(#3c434a));
  position: relative;
}
.about-section {
  width: 80%;
  margin: 3% auto;
  padding: 2%;
  background-color: papayawhip;
  line-height: 2rem;
  text-align: start;
  border: 1px solid black;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  position: relative;
}
.about-section h2 {
  display: flex;
  align-items: center;
  font-size: 3rem;
}
.about-section p {
  padding: 2%;
}
.about-section svg {
  width: 9%;
  padding: 2%;
}
.about-section .about-section-right {
  display: flex;
  align-items: center;
}
.projects {
  width: 47%;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6% 0;
  margin: 0.5% 0;
  border: 2px solid black;
  border-radius: 5px;
}
.projects img {
  width: 95%;
  border: 3.5px solid black;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}
.projects p {
  width: 90%;
  color: white;
}
.projects h2 {
  color: lawngreen;
}
.projects .demo-button {
  margin: 1% 0;
  padding: 1% 5%;
  background-color: lawngreen;
}
.projects .demo-button:hover {
  background-color: darkgoldenrod;
}
.project-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5% 0;
}
@media (prefers-reduced-motion: no-preference) {
  .soap-logo {
    animation: soap-logo-spin infinite 5s linear;
  }
}
@keyframes soap-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
